<pre>
<strong>All parameters are post only</strong>

<strong>/generate</strong> : generate key pair
<strong>/{address}/register</strong> : register an address, params [ pKEY => 4096bit openssl public key ]
<strong>/{address}/whois</strong> : public key
<strong>/{address}/post</strong> : post a message, params [ from => address , m => message ]
<strong>/{address}/list</strong> : retreive message list [ *offset => int, *limit = int ] 
<strong>/{address}/flush</strong> <small>(1)</small> : obtain the flush code, sign it with your private key
<strong>/{address}/flush</strong> <small>(2)</small> : clean the message list [ sign => flush code signed with your private key ] 
* optional paramter
</pre>